:root {

    --color-white: #fff;

    --color-white-dark-100: #fff;
    --color-white-dark-200: #e6e6e6;  /* Light Gray 200 */
    --color-white-dark-300: #cccccc;  /* Light Gray 300 */
    --color-white-dark-400: #b3b3b3;  /* Light Gray 400 */
    --color-white-dark-500: #999999;  /* Gray 500 */
    --color-white-dark-600: #808080;  /* Gray 600 */
    --color-white-dark-700: #666666;  /* Dark Gray 700 */
    --color-white-dark-800: #4d4d4d;  /* Dark Gray 800 */
    --color-white-dark-900: #000000;  /* Black */

    /* Soft Sage */
    --color-soft-sage-100: #ccd5ae;  /* Soft Sage */
    --color-soft-sage-200: #a1b47a;  /* Soft Sage 200 */
    --color-soft-sage-300: #86955d;  /* Soft Sage 300 */
    --color-soft-sage-400: #6b7d40;  /* Soft Sage 400 */
    --color-soft-sage-500: #506f24;  /* Soft Sage 500 */
    --color-soft-sage-600: #3d5a0f;  /* Soft Sage 600 */
    --color-soft-sage-700: #2a4400;  /* Soft Sage 700 */
    --color-soft-sage-800: #1e3300;  /* Soft Sage 800 */
    --color-soft-sage-900: #122200;  /* Soft Sage 900 */
  
    /* Pale Mint */
    --color-pale-mint-100: #e9edc9;  /* Pale Mint */
    --color-pale-mint-200: #c6d59a;  /* Pale Mint 200 */
    --color-pale-mint-300: #a2bd6a;  /* Pale Mint 300 */
    --color-pale-mint-400: #7fa73a;  /* Pale Mint 400 */
    --color-pale-mint-500: #5c8f0a;  /* Pale Mint 500 */
    --color-pale-mint-600: #466e09;  /* Pale Mint 600 */
    --color-pale-mint-700: #305d08;  /* Pale Mint 700 */
    --color-pale-mint-800: #1a4c08;  /* Pale Mint 800 */
    --color-pale-mint-900: #053b07;  /* Pale Mint 900 */
  
    /* Creamy Butter */
    --color-creamy-butter-100: #fefae0;  /* Creamy Butter */
    --color-creamy-butter-200: #e8d88c;  /* Creamy Butter 200 */
    --color-creamy-butter-300: #d2c257;  /* Creamy Butter 300 */
    --color-creamy-butter-400: #bca41f;  /* Creamy Butter 400 */
    --color-creamy-butter-500: #a68d00;  /* Creamy Butter 500 */
    --color-creamy-butter-600: #8a7600;  /* Creamy Butter 600 */
    --color-creamy-butter-700: #6e5e00;  /* Creamy Butter 700 */
    --color-creamy-butter-800: #524700;  /* Creamy Butter 800 */
    --color-creamy-butter-900: #362f00;  /* Creamy Butter 900 */

    --color-peach-cream-100: #faedcd;  /* Peach Cream */
    --color-peach-cream-200: #f3d7b3;  /* Peach Cream 200 */
    --color-peach-cream-300: #ebc18a;  /* Peach Cream 300 */
    --color-peach-cream-400: #e4ab61;  /* Peach Cream 400 */
    --color-peach-cream-500: #dd9438;  /* Peach Cream 500 */
    --color-peach-cream-600: #c8832f;  /* Peach Cream 600 */
    --color-peach-cream-700: #b37226;  /* Peach Cream 700 */
    --color-peach-cream-800: #9a611d;  /* Peach Cream 800 */
    --color-peach-cream-900: #834f14;  /* Peach Cream 900 */
  
    /* Warm Amber */
    --color-warm-amber-100: #d4a373;  /* Warm Amber */
    --color-warm-amber-200: #b78560;  /* Warm Amber 200 */
    --color-warm-amber-300: #9b764e;  /* Warm Amber 300 */
    --color-warm-amber-400: #8a6543;  /* Warm Amber 400 */
    --color-warm-amber-500: #785532;  /* Warm Amber 500 */
    --color-warm-amber-600: #673e22;  /* Warm Amber 600 */
    --color-warm-amber-700: #563018;  /* Warm Amber 700 */
    --color-warm-amber-800: #44220e;  /* Warm Amber 800 */
    --color-warm-amber-900: #331404;  /* Warm Amber 900 */


    --border-radius: 4px;
  }
  